<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
{include file=$header}
<div class="banner">
    <h1 style="font-size: 60px;font-family: 'HanHei-SC';">
        <span style="color: #FFFF00;font-family: 'HanHei-SC';margin-right:10px;">网站建设</span>合作客户精彩案例</h1>
    <p style="margin: 0 0 10px;display: block;">
        <span style="color: #FFFF00;">10年</span>不同的企业需求不同的制作出精美出色的网站<br>
        下一个效果非凡网站就是您的？
    </p>
</div>

</div>
</div>

<style>
    .hj{
        position: relative;
        width: 1200px;
        background: #fff;
        margin: 0 auto;

    }
    .fd{
        width: 100%;
        color: #fff;
        text-align: center;
        position: absolute;
        /*top: 0px;*/
        /*left: 0px;*/
    }
    .fd h2{
        color: #000;
        font-size: 38px;
        font-weight: normal;
        padding: 30px 0 10px;
    }
    .fd p{
        line-height: 30px;
        font-size: 24px;
    }

</style>
{foreach $condata as $v}
<div class="hj">
<div>
    <img src='{$v["imgurl"]}' alt="">
</div>

    <div class="fd">
        <h2>{$v["ctitle"]}</h2>
        <p>{$v["cons"]}</p>

    </div>
</div>
{/foreach}
<link rel="stylesheet" href="{CSS_ADD}index/index2.css">


</body>
</html>