<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>响应式网站</title>
</head>
<script src="{JS_ADD}animate.js"></script>
<body>

{include file=$header}
<div class="banner">
    <h1 style="font-size: 60px;font-family: 'HanHei-SC';">企业为什么要建
        <span style="color: #FFFF00;font-family: 'HanHei-SC';margin-right:10px;">响应式网站</h1>
    <p style="margin: 0 0 10px;display: block;">
        互联网多屏时代1个响站可实现360全平台营销<br>
    <p style="font-size: 18px;font-family: 'HanHei-SC';">
        <span> ✔成本低 </span>
        <span style="margin-left:30px;">✔体验好</span>
        <span style="margin-left:30px;">✔易推广</span>
        <span style="margin-left:30px;">✔流量大</span>
        <span style="margin-left:30px;">✔客源多</span>
        <span style="margin-left:30px;">✔易运维</span>

    </p>
    </p>
</div>
</div>
</div>


<!-- 响应式网站优势 -->
<div class="xys">
    <section>
        <h2 style="font-size: 46px;color: #01E188;font-family: 'HanHei-SC';">{$soninfo[0]["cname"]}</h2>
        <p>{$soninfo[0]["info"]}</p>
    </section>
    <div class="xys1">
        {foreach $coninfo[0] as $v}
        <div class="xys2">
            <div class="xys3" >
                <img src='{$v["imgurl"]}' alt="" style="width:60px;height:60px;">
            </div>
            <p>{$v["ctitle"]}</p>
            {$v["info"]}
        </div>
      {/foreach}
</div>

<!-- 响应式网站优势 -->

<!-- 响应式网站优势 2-->
<div class="good">
    <div class="good1">
        <section>
            <h2 style="font-size: 46px;color: #01E188;font-family: 'HanHei-SC';">{$soninfo[1]["cname"]}</h2>
            <p>{$soninfo[1]["info"]}</p>
        </section>
    </div>
    <div class="good2">
        {foreach $coninfo[1] as $v}
        <div class="good3">
            <img src='{$v["imgurl"]}' alt="" style="width:50px;height:55px;">
            <h4 style="font-size: 14px; font-weight: bold; color: #313131;margin-top:0px;">{$v["ctitle"]}</h4>
            <p> {$v["info"]}</p>
        </div>
       {/foreach}
    </div>
    <div class="good4">
        <div class="good5">
            <div class="qiqiu1 qiqiu">
                <p>10</p>
                <span style="line-height: 34px;display: block;color: #333;">年行业经验</span>
            </div>
            <div class="qiqiu2 qiqiu">
                <p>1000</p>
                <span style="line-height: 34px;display: block;color: #333;">服务上千客户</span>
            </div>
            <div class="qiqiu3 qiqiu">
                <p>99%</p>
                <span style="line-height: 34px;display: block;color: #333;">客户续费率</span>
            </div>
            <div class="qiqiu4 qiqiu">
                <p>24</p>
                <span style="line-height: 34px;display: block;color: #333;">7*24小时服务支持</span>
            </div>
            <div class="qiqiu5 qiqiu">
                <p>0</p>
                <span style="line-height: 34px;display: block;color: #333;">元快速备案</span>
            </div>
        </div>
        <div class="bolang1 bl"></div>
        <div class="bolang2 bl"></div>

    </div>
</div>



<!-- 响应式网站优势 2-->

<!-- 全面营销 -->
<div class="yx">
    <section>
        <h2 style="font-size: 46px;color: #01E188;font-family: 'HanHei-SC';">全方位响应式营销时代，你准备好了吗？</h2>
        <p>十年巨变！ 移动互联网一颠覆我们的时代，商业、社交、视频、新闻、工作等领域。移动应用渗透率已超过80%，<br>在团购、旅游和零售业，移动端收入规模已超过PC端，手机已经成为企业不可或缺的线上阵地。
        </p>
    </section>
</div>


<!-- 全面营销 -->
{include file=$footer}


    <!-- 侧边栏 -->
    <div class="cbnav">
        <ul >
            <li class="li1" style="background:#33cee5;">
                <a href="#">
                    <img src="{IMG_ADD}cb1.png" alt="" style="width:40px;height:40px;padding-left:15px;" >
                    <p>1683211881</p>
                </a>
            </li>
            <li class="li1">
                <a href="#">
                    <img src="{IMG_ADD}cb2.png" alt="" style="width:30px;height:30px;padding-left:20px;" >
                    <p>028-86922220</p>
                </a>
            </li>
            <li class="li1">
                <a href="#">
                    <img src="{IMG_ADD}cb3.png" alt="" style="width:30px;height:30px;padding-left:20px;" >
                    <p>13518219792</p>
                </a>
            </li>
            <li class="li1 li2">
                <a href="#">
                    <img src="{IMG_ADD}cb4.png" alt="" style="width:30px;height:30px;padding-left:20px;" >
                    <p>创新互联</p>
                    <div class="erweima" >
                        <img src="{IMG_ADD}erweima.png" alt="">
                    </div>
                </a>
            </li>
            <li class="li1 li3" >
                <a href="#">
                    <img src="{IMG_ADD}cb5.png" alt="" style="width:30px;height:30px;padding-left:20px;" >
                    <p style="border:none">返回顶部</p>
                </a>
            </li>
        </ul>
    </div>

    <div class="zixun">
        <div class="zixun2">
            <div class="zixun3">

            </div>
        </div>
    </div>




    <script>
        //气球波浪晃动
        var qiqiu=document.querySelectorAll(".qiqiu")
        var good4=document.querySelector(".good4")
        var bl=document.querySelectorAll(".bl")



        function move(){
            for(var i=0;i<qiqiu.length;i++){
                qiqiu[i].style.top=qiqiu[i].offsetTop+5+"px"
                qiqiu[i].style.left=qiqiu[i].offsetLeft+10+"px"
            }
            for(var i=0;i<bl.length;i++){

                bl[i].style.left=bl[i].offsetLeft+10+"px"
            }
        }

        function move2(){
            for(var i=0;i<qiqiu.length;i++){
                qiqiu[i].style.top=qiqiu[i].offsetTop-5+"px"
                qiqiu[i].style.left=qiqiu[i].offsetLeft-10+"px"
            }
            for(var i=0;i<bl.length;i++){

                bl[i].style.left=bl[i].offsetLeft-10+"px"
            }
        }

        window.onscroll=function(){
            var st=document.documentElement.scrollTop;
            if(good4.offsetTop-document.documentElement.clientHeight-100==st){
                move();
                move2();

            }
        }





        good4.onmouseover=function(){
            move();
        }
        good4.onmouseout=function(){
            move2();
        }





        //  侧边导航栏
        var li1=document.querySelectorAll(".li1")
        var li2=document.querySelector(".li2")
        var li3=document.querySelector(".li3")
        var erweima=document.querySelector(".erweima")
        var st=document.documentElement.scrollTop;
        console.log(li1)
        for(let i=0 ;i<li1.length;i++){
            li1[i].addEventListener("mouseover",function(){
                for(var j=0;j<li1.length;j++){

                    li1[j].style.background="#fff"

                }
                this.style.background="#33cee5"
            },false)

        }
        li2.addEventListener("mouseover",function(){
            erweima.style.display="block"
        },false)
        li2.addEventListener("mouseout",function(){
            erweima.style.display="none"
        },false)


        li3.addEventListener("click",function(){
            animate(document.documentElement,{
                scrollTop:0
            },500)

        })
    </script>
    <link rel="stylesheet" href="{CSS_ADD}index/index3.css">


</body>
</html>